<%- include('header.ejs') %>

<div id="body" class="body">
    <div class="cart">
        <div class="left">
            <div class="d-flex justify-content-between mb-3">
                <div class="slight-bold">
                    Produto
                </div>
                <div class="slight-bold ml-5">
                    Preço
                </div>
                <div class="slight-bold ml-3">
                    Quantidade
                </div>
                <div class="slight-bold ml-3">
                    Total
                </div>
                <div class="slight-bold">
                    Remover
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" width="50rem">
                    <div class="ml-1">
                        <div class="slight-bold">
                            Livro
                        </div>
                        <div>
                            Autor
                        </div>
                        <div>
                            Editora
                        </div>
                    </div>
                </div>
                <div>
                    R$ 9,99
                </div>
                <div class="input-group w-6">
                    <span class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                            <img src="https://www.svgrepo.com/show/532960/minus.svg" alt="Menos" width="8">
                        </button>
                    </span>
                    <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary btn-number" data-type="Mais" data-field="quant[1]">
                            <img src="https://www.svgrepo.com/show/532997/plus-large.svg" alt="plus" width="8">
                        </button>
                    </span>
                </div>
                <div>
                    R$ 9,99
                </div>
                <div>
                    <img src="https://www.svgrepo.com/show/533017/trash-blank-alt.svg" alt="Remover item" class="icon">
                </div>
            </div>
            <hr>
            <button type="button" class="btn btn-secondary">Limpar o Carrinho</button>
        </div>
        <div class="d-block right">
            <div class="bg-gray">
                <div class="slight-bold">Cupom</div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar..."
                        aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button">
                            <img src="https://www.svgrepo.com/show/532555/search.svg" alt="Pesquisar"
                                class="search-icon">
                        </button>
                    </div>
                </div>
            </div>
            <div class="mt-3 slight-bold">Total Carrinho</div>
            <div class="bg-gray mt-3">
                <div class="d-flex">
                    <div class="slight-bold">Subtotal</div>
                    <div class="ml-auto">R$ 9,99</div>
                </div>
                <hr>
                <div class="d-flex">
                    <div class="slight-bold">Total</div>
                    <div class="ml-auto">R$ 9,99</div>
                </div>
                <hr>
                <button type="button" class="btn btn-primary w-100 mt-1">Comprar agora</button>
            </div>
            <div class="mt-3 slight-bold">Calcular Frete</div>
            <div class="bg-gray mt-3">
                <input type="text" class="form-control" placeholder="CEP">
                <div class="d-flex justify-content-between align-items-baseline">
                    <div>Valor</div>
                    <button type="button" class="btn btn-secondary w-50 mt-1">Calcular</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('itemsDisplay.ejs') %>

<%- include('footer.ejs') %>
 
