<div class="foraModalCategorias">
    <div class="conteudoModalCategorias">
        <div class="categorias mt-1">
            <li class="removeDot">
                <ul>
                    <h6 class="title-item veronica">Categorias</h6>
                </ul>
                <ul>
                    <a href="/books/allBooks" class="linkCategoria">Todos os Livros</a>
                </ul>
                <% categories.forEach(function(category) { %>
                    <ul>
                        <a href="/books/<%= category.categoryName %>" class="linkCategoria">
                            <%= category.categoryName %>
                        </a>
                    </ul>
                <% }); %>
            </li>
        </div>
    </div>
</div>

<!-- JS -->
<script>
    // toogle modal categorias
    const modal = document.querySelector('.conteudoModalCategorias');
    const modalBackground = document.querySelector('.foraModalCategorias');

    const switchModal = () => {
        const actualState = modal.style.display;
        if (actualState === 'block') {
            modal.style.display = 'none';
            modalBackground.style.display = 'none';
        } else {
            modal.style.display = 'block';
            modalBackground.style.display = 'block';
        }
    }

    const btn = document.querySelector('#categorias');
    btn.addEventListener('click', switchModal);

    // close modal when clicking outside of it
    modalBackground.addEventListener('click', switchModal);

    // prevent closing when clicking inside the modal
    const modalContent = document.querySelector('.conteudoModalCategorias');
    modalContent.addEventListener('click', function(event) {
        event.stopPropagation();
    });
</script>