<%- include('header.ejs'); %>

    <div id="body" class="body">
        <!-- MAIN -->
        <div class="top ml-10">
            <div class="d-block">
                <div class="page-title">Todos os Livros</div>
                <div class="page-subtitle">Home > Todos os Livros</div>
            </div>
            <div class="d-flex align-items-center">
                <div class="ml-3">Página</div>
                <div class="btn-group ml-3">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        1
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" type="button">1</button>
                        <button class="dropdown-item" type="button">2</button>
                        <button class="dropdown-item" type="button">3</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom ml-10">
            <div class="filters">
                <div>
                    <div class="filter-title">
                        Categoria
                    </div>
                    <hr>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>

                </div>
                <div class="mt-5">
                    <div class="filter-title">
                        Desconto
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>

                </div>
                <div class="mt-5">
                    <div class="filter-title">
                        Preço
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>

                </div>
            </div>
            <div class="items">
                <div class="card-item">
                    <img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" width="150rem">
                    <div class="info-item">
                        <div class="title-item">Livro</div>
                        <div class="price-item">R$ 00,00</div>
                        <div class="description-item">Descrição</div>
                        <div class="icons-item">
                            <img class="icon" src="https://www.svgrepo.com/show/532473/heart.svg" alt="heart">
                            <img class="icon ml-3" src="https://www.svgrepo.com/show/511031/info.svg" alt="info">
                        </div>
                    </div>
                    <div class="ml-10">
                        <button type="button" class="btn btn-secondary">Comprar agora</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" width="150rem">
                    <div class="info-item">
                        <div class="title-item">Livro</div>
                        <div class="price-item">R$ 00,00</div>
                        <div class="description-item">Descrição</div>
                        <div class="icons-item">
                            <img class="icon" src="https://www.svgrepo.com/show/532473/heart.svg" alt="heart">
                            <img class="icon ml-3" src="https://www.svgrepo.com/show/511031/info.svg" alt="info">
                        </div>
                    </div>
                    <div class="ml-10">
                        <button type="button" class="btn btn-secondary">Comprar agora</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" width="150rem">
                    <div class="info-item">
                        <div class="title-item">Livro</div>
                        <div class="price-item">R$ 00,00</div>
                        <div class="description-item">Descrição</div>
                        <div class="icons-item">
                            <img class="icon" src="https://www.svgrepo.com/show/532473/heart.svg" alt="heart">
                            <img class="icon ml-3" src="https://www.svgrepo.com/show/511031/info.svg" alt="info">
                        </div>
                    </div>
                    <div class="ml-10">
                        <button type="button" class="btn btn-secondary">Comprar agora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('footer.ejs'); %>