<div class="modalCategorias">
    <div class="conteudoModalCategorias">
        <div class="closeModal" id="close"><img src="https://www.svgrepo.com/show/521590/cross.svg" alt="Fechar" class="icon"></div>

        <div class="categorias">
            <h6 class="title-item">Categorias</h6>
            
            <!-- mock categories -->
            <div class="category">
                <li class="removeDot">
                    <a href="/books/allBooks" class="btn btn-primary w-100">Todos os Livros</a>
                    <% categories.forEach(function(category) { %>
                        <a href="/books/<%= category.categoryName %>" class="btn btn-primary w-100">
                            <%= category.categoryName %>
                        </a>
                    <% }); %>
                </li>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script>
    // toogle modal categorias
    const switchModal = () => {
        const modal = document.querySelector('.modalCategorias');
        const actualState = modal.style.display;
        if (actualState === 'block') {
            modal.style.display = 'none';
        } else {
            modal.style.display = 'block';
        }
    }

    const btn = document.querySelector('#categorias');
    btn.addEventListener('click', switchModal);

    // close modal when clicking on close button
    const closeModal = document.querySelector('.closeModal');
    closeModal.addEventListener('click', switchModal);
</script>