<%- include('header.ejs') %>

<div id="body" class="body">
    <div class="finishPurchase">
        <img src="https://www.svgrepo.com/show/529364/bag-check.svg" alt="Carrinho" class="finishIcon">
        <div class="title-home">Compra #<%= code %> Finalizada!</div>
        <a href="/home" class="btn btn-primary">Voltar para a página inicial</a>
    </div>
</div>

<%- include('footer.ejs') %>