<!-- FOOTER -->
<div id="footer" class="footer">
    <div class="info">
        <div class="logo">Bookworm</div>
        <div class="icons">
            <img class="icon" src="https://www.svgrepo.com/show/521654/facebook.svg" alt="facebook">
            <img class="icon" src="https://www.svgrepo.com/show/512399/instagram-167.svg" alt="instagram">
            <img class="icon" src="https://www.svgrepo.com/show/513008/twitter-154.svg" alt="twitter">
        </div>
    </div>
    <div class="info">
        <div class="info-title">Minha Conta</div>
        <div class="info-text"><a href="/signIn" class="">Registrar</a></div>
    </div>
    <div class="info">
        <div class="info-title">Loja</div>
        <div class="info-text"><a href="/allBooks">Todos os Livros</a></div>
    </div>
</div>

</body>

</html>