<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <!-- HEADER -->
    <div id="header">
        <nav class="navbar bg-body-tertiary bg-yellow-green">
            <div class="container-fluid">
                <div class="d-flex">
                    <a class="navbar-brand" href="/allBooks">
                        <img src="https://www.svgrepo.com/show/509382/menu.svg" alt="Menu" class="icon">
                    </a>
                    <h6 class="veronica mt-075">Categorias</h6>
                </div>
                <a id="logo" class="white logo" href="/home">Bookworm</a>
                <div class="d-flex">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar..."
                            aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button">
                                <img src="https://www.svgrepo.com/show/532555/search.svg" alt="Pesquisar" class="search-icon">
                            </button>
                        </div>
                    </div>
                    <a class="navbar-brand ml-1" href="/cart">
                        <img src="https://www.svgrepo.com/show/533043/cart-shopping.svg" alt="Carrinho" class="icon">
                    </a>
                    <a class="navbar-brand" href="/clients">
                        <img src="https://www.svgrepo.com/show/440009/person-circle.svg" alt="Minha Conta" class="icon">
                    </a>
                </div>
            </div>
        </nav>
    </div>