<%- include('header.ejs'); %>

    <div id="body" class="body">
        
        <%- include('itemsDisplay.ejs'); %>

        <div class="medium">
            <div class="title-home">Top Categorias</div>
            <div id="circles" class="d-flex justify-content-around align-items-center">
                <div class="category">
                    <div class="circle">
                        <img class="icon-category" src="https://www.svgrepo.com/show/532906/book-open.svg"
                            alt="icon-category">
                    </div>
                    <h4 class="mt-075">Categoria 1</h4>
                </div>
                <div class="category">
                    <div class="circle">
                        <img class="icon-category" src="https://www.svgrepo.com/show/532906/book-open.svg"
                            alt="icon-category">
                    </div>
                    <h4 class="mt-075">Categoria 2</h4>
                </div>
                <div class="category">
                    <div class="circle">
                        <img class="icon-category" src="https://www.svgrepo.com/show/532906/book-open.svg"
                            alt="icon-category">
                    </div>
                    <h4 class="mt-075">Categoria 3</h4>
                </div>
                <div class="category">
                    <div class="circle">
                        <img class="icon-category" src="https://www.svgrepo.com/show/532906/book-open.svg"
                            alt="icon-category">
                    </div>
                    <h4 class="mt-075">Categoria 4</h4>
                </div>
            </div>
        </div>

        <%- include('itemsDisplay.ejs'); %>

    </div>
    
<%- include('footer.ejs'); %>