<div class="title-home">Mais Vendidos</div>
<div class="cards-wrapper">
    <div class="card">
        <img src="https://i.pinimg.com/originals/3f/56/fd/3f56fdacff697f8b003b7882aae2f179.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Título do Livro</h5>
            <p class="card-text">Preço do Livro</p>
            <a href="#" class="btn btn-primary">Comprar Agora</a>
        </div>
    </div>
    <div class="card d-none d-md-block">
        <img src="https://i.pinimg.com/originals/3f/56/fd/3f56fdacff697f8b003b7882aae2f179.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Título do Livro</h5>
            <p class="card-text">Preço do Livro</p>
            <a href="#" class="btn btn-primary">Comprar Agora</a>
        </div>
    </div>
    <div class="card d-none d-md-block">
        <img src="https://i.pinimg.com/originals/3f/56/fd/3f56fdacff697f8b003b7882aae2f179.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Título do Livro</h5>
            <p class="card-text">Preço do Livro</p>
            <a href="#" class="btn btn-primary">Comprar Agora</a>
        </div>
    </div>
    <div class="card d-none d-md-block">
        <img src="https://i.pinimg.com/originals/3f/56/fd/3f56fdacff697f8b003b7882aae2f179.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Título do Livro</h5>
            <p class="card-text">Preço do Livro</p>
            <a href="#" class="btn btn-primary">Comprar Agora</a>
        </div>
    </div>
</div>