<%- include('header.ejs'); %>

    <div id="body" class="main-center">
        <div class="title-home">Painel Administrativo</div>

        <div class="center">
            <div class="d-flex justify-content-between">
                <div class="card-admin">
                    <div class="d-flex justify-content-center">
                        <img src="https://www.svgrepo.com/show/496871/box-time.svg" alt="Troca" class="icon-max">
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/evaluateExchange" class="btn btn-primary w-100 mt-1">Avaliar Troca</a>
                    </div>
                </div>
                <div class="card-admin">
                    <div class="d-flex justify-content-center">
                        <img src="https://www.svgrepo.com/show/496870/box-remove.svg" alt="Devolução" class="icon-max">
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/evaluateDevolution" class="btn btn-primary w-100 mt-1">Avaliar Devolução</a>
                    </div>
                </div>
                <div class="card-admin">
                    <div class="d-flex justify-content-center">
                        <img src="https://www.svgrepo.com/show/497390/people.svg" alt="Clientes" class="icon-max">
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/admin/clients" class="btn btn-primary w-100 mt-1">Clientes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('footer.ejs'); %>