<%- include('header.ejs');  %>

<div id="body" class="body">
    <div class="center">
        <img src="https://www.svgrepo.com/show/520561/box-open.svg" alt="Caixa" width="200">
        <div class="title">Avaliar Troca/Devolução</div>

        <%- include('orderCard.ejs')  %>
    </div>
</div>

<%- include('footer.ejs');  %>