<%- include('header.ejs') %>

    <div id="body" class="body">
        <div class="center">
            <div class="card-big mt-1">
                <div class="title center mt-1">Sign In</div>
                <div class="forms">
                    <input class="w-100 mt-5 form-control" placeholder="Email">
                    <div class="d-flex justify-content-between align-items-center mt-1">
                        <input class="w-49 form-control" placeholder="Nome">
                        <input class="w-49 form-control" placeholder="CPF">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-1">
                        <input class="w-49 form-control" placeholder="Gênero">
                        <input class="w-49 form-control" placeholder="Data de Nascimento">
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-1">
                        <input class="w-20 form-control" placeholder="DDD">
                        <input class="w-59 form-control" placeholder="Endereço">
                        <input class="w-20 form-control" placeholder="Tipo">
                    </div>
                    <input class="w-100 form-control mt-1" placeholder="Senha">
                    
                    <hr class="mt-5">
                    <div class="page-title mt-5">Endereço</div>
                    <div class="d-flex justify-content-between align-items-center mt-1">
                        <input class="w-79 form-control" placeholder="Endereço">
                        <input class="w-20 form-control" placeholder="Número">
                    </div>
                    <input class="w-100 mt-1 form-control" placeholder="Complemento">
                    <input class="w-100 mt-1 form-control" placeholder="Cidade">
                    <div class="d-flex justify-content-between align-items-center mt-1">
                        <input class="w-49 form-control" placeholder="Estado">
                        <input class="w-49 form-control" placeholder="CEP">
                    </div>
                </div>
                <button type="button" class="btn btn-primary w-100 mt-5">Cadastrar-se</button>
            </div>
        </div>
    </div>

<%- include('footer.ejs') %>