<%- include('header.ejs') %>

    <div id="body" class="body">
        <div class="center">
            <div class="card-big mt-1">
                <div class="title center mt-1">Sign In</div>
                <form action="/signin/newClient" method="POST">
                    <div class="forms">
                        <input class="w-100 mt-5 form-control" placeholder="Email" type="email" name="email" id="email">
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-50 form-control" placeholder="Nome" type="text" name="name" id="name">
                            <input class="w-49 form-control" placeholder="CPF" type="number" name="cpf" id="cpf">
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <select name="gender" id="gender" class="form-control w-50">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outro">Outro</option>
                            </select>
                            <input class="w-49 form-control" placeholder="Data de Nascimento" type="date" name="birthDate" id="birthDate">
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-20 form-control" placeholder="DDD" type="number" name="ddd" id="ddd">
                            <input class="w-59 form-control" placeholder="Número" type="number" name="phoneNumber" id="phoneNumber">
                            <select name="type" id="type" class="form-control w-20">
                                <option value="Celular">Celular</option>
                                <option value="Residencial">Residencial</option>
                                <option value="Comercial">Comercial</option>
                            </select>
                        </div>
                        <!-- FAZER A VERIFICAÇÃO MAIS UMA VEZ -->
                        <input class="w-100 form-control mt-1" placeholder="Senha" type="password" name="password" id="password">
    
                        <hr class="mt-5">
                        <div class="page-title mt-5">Endereço</div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-79 form-control" placeholder="Endereço" type="text" name="street" id="street">
                            <input class="w-20 form-control" placeholder="Número" type="number" name="addressNumber" id="addressNumber">
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-79 form-control" placeholder="Complemento" type="text" name="complement" id="complement">
                            <select name="residenceType" id="residenceType" class="form-control w-20">
                                <option value="Apartamento">Apartamento</option>
                                <option value="Casa">Casa</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-50 form-control" placeholder="Cidade" type="text" name="city" id="city">
                            <input class="w-49 form-control" placeholder="Bairro" type="text" name="neighborhood" id="neighborhood">
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-59 form-control" placeholder="CEP" type="text" name="zipCode" id="zipCode">
                            <select name="state" id="state" class="form-control w-20">
                                <option value="Acre" id="AC">AC</option>
                                <option value="Alagoas" id="AL">AL</option>
                                <option value="Amapá" id="AP">AP</option>
                                <option value="Amazonas" id="AM">AM</option>
                                <option value="Bahia" id="BA">BH</option>
                                <option value="Ceará" id="CE">CE</option>
                                <option value="Distrito Federal" id="DF">DF</option>
                                <option value="Espírito Santo" id="ES">ES</option>
                                <option value="Goiás" id="GO">GO</option>
                                <option value="Maranhão" id="MA">MA</option>
                                <option value="Mato Grosso" id="MT">MT</option>
                                <option value="Mato Grosso do Sul" id="MS">MS</option>
                                <option value="Minas Gerais" id="MG">MG</option>
                                <option value="Pará" id="PA">PA</option>
                                <option value="Paraíba" id="PB">PB</option>
                                <option value="Paraná" id="PR">PR</option>
                                <option value="Pernambuco" id="PE">PE</option>
                                <option value="Piauí" id="PI">PI</option>
                                <option value="Rio de Janeiro" id="RJ">RJ</option>
                                <option value="Rio Grande do Norte" id="RN">RN</option>
                                <option value="Rio Grande do Sul" id="RS">RS</option>
                                <option value="Rondônia" id="RO">RO</option>
                                <option value="Roraima" id="RR">RR</option>
                                <option value="Santa Catarina" id="SC">SC</option>
                                <option value="São Paulo" id="SP">SP</option>
                                <option value="Sergipe" id="SE">SE</option>
                                <option value="Tocantins" id="TO">TO</option>
                            </select>
                            <input class="w-20 form-control" placeholder="Brasil" value="Brasil" type="text" name="country" id="country" disabled>
                        </div>
                        <input class="w-100 mt-1 form-control" placeholder="Observações" type="text" name="observation" id="observation">
    
                        <hr class="mt-5">
                        <div class="page-title mt-5">Cartão de Crédito</div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-50 form-control" placeholder="Número do Cartão" type="number" name="cardNumber" id="cardNumber">
                            <input class="w-49 form-control" placeholder="Validade" type="text" name="expiration" id="expiration">
                        </div>
                        <input class="w-100 mt-1 form-control" placeholder="Nome Impresso no Cartão" type="text" name="cardName" id="cardName">
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <select name="cardFlag" id="cardFlag" class="form-control w-50">
                                <option value="Visa">Visa</option>
                                <option value="Mastercard">Mastercard</option>
                                <option value="Elo">Elo</option>
                                <option value="American Express">American Express</option>
                            </select>
                            <input class="w-49 form-control" placeholder="Código de Segurança" type="number" name="securityCode" id="securityCode">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-5">Cadastrar-se</button>
                </form>
            </div>
        </div>
    </div>

<script>

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

</script>