<%- include('header.ejs') %>

    <div id="body" class="body">
        <div class="center">
            <div class="card-big mt-1">
                <div class="title center mt-1">Sign In</div>
                <form action="/add" method="POST">
                    <div class="forms">
                        <input class="w-100 mt-5 form-control" placeholder="Email" type="email" name="email" id="email">
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-49 form-control" placeholder="Nome" type="text" name="name" id="name">
                            <input class="w-49 form-control" placeholder="CPF" type="number" name="cpf" id="cpf">
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <!-- MUDAR ISSO AQUI -->
                            <input class="w-49 form-control" placeholder="Gênero" type="text" name="gender" id="gender">
                            <input class="w-49 form-control" placeholder="Data de Nascimento" type="date" name="birthDate" id="birthDate">
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-20 form-control" placeholder="DDD" type="number" name="ddd" id="ddd">
                            <input class="w-59 form-control" placeholder="Número" type="number" name="number" id="number">
                            <!-- MUDAR ISSO AQUI -->
                            <input class="w-20 form-control" placeholder="Tipo" type="text" name="type" id="type">
                        </div>
                        <!-- FAZER A VERIFICAÇÃO MAIS UMA VEZ -->
                        <input class="w-100 form-control mt-1" placeholder="Senha" type="password" name="password" id="password">
    
                        <hr class="mt-5">
                        <div class="page-title mt-5">Endereço</div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-79 form-control" placeholder="Endereço" type="text" name="address" id="address">
                            <input class="w-20 form-control" placeholder="Número" type="number" name="addressNumber" id="addressNumber">
                        </div>
                        <input class="w-100 mt-1 form-control" placeholder="Complemento" type="text" name="complement" id="complement">
                        <input class="w-100 mt-1 form-control" placeholder="Cidade" type="text" name="city" id="city">
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-49 form-control" placeholder="Estado" type="text" name="state" id="state">
                            <input class="w-49 form-control" placeholder="CEP" type="number" name="cep" id="cep">
                        </div>
    
                        <hr class="mt-5">
                        <div class="page-title mt-5">Cartão de Crédito</div>
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-49 form-control" placeholder="Número do Cartão" type="number" name="cardNumber" id="cardNumber">
                            <input class="w-49 form-control" placeholder="Validade" type="text" name="expiration" id="expiration">
                        </div>
                        <input class="w-100 mt-1 form-control" placeholder="Nome Impresso no Cartão" type="text" name="cardName" id="cardName">
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <input class="w-49 form-control" placeholder="Bandeira" type="text" name="cardFlag" id="cardFlag">
                            <input class="w-49 form-control" placeholder="CVV" type="number" name="cvv" id="cvv">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-5">Cadastrar-se</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>